<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/07b0ce5d10.js"></script>

<div class="eventbrick">

<div class="cont">
<h1 class="eventtitle">All EVENTS</h1>


<ul>
  <% eventsAndStuff.forEach((oneEvent) => { %>
    <li class="eventlist">
      <h3> <%= oneEvent.name %> </h3>
      <!-- <p> Photo: <p> <%= oneEvent.description.photoUrl %> </p> </p> -->
      <p> Description: <%= oneEvent.description.details %>  </p>
      <!-- <p> location: <p> <%= oneEvent.location.photoUrl %> </p> </p> -->
      <p> city: <%= oneEvent.location.city %>  </p>
      <p> address: <%= oneEvent.location.address %>  </p>

    </li>
  <%}); %>
</div>
</div>
