<h1 class="eventtitle">All EVENTS</h1>


<ul class="eventlist">
  <% eventsAndStuff.forEach((oneEvent) => { %>
    <li>
      <h3> <%= oneEvent.name %> </h3>
      <p> Owner: <p> <%= oneEvent.owner %> </p> </p>
      <p> Photo: <p> <%= oneEvent.description.photoUrl %> </p> </p>
      <p> Description: <p> <%= oneEvent.description.details %> </p> </p>
      <p> location: <p> <%= oneEvent.description.photoUrl %> </p> </p>
      <p> location: <p> <%= oneEvent.description.city %> </p> </p>
      <p> location: <p> <%= oneEvent.description.address %> </p> </p>

    </li>
  <%}); %>
